# maven
maven-wrapper.jar
target/

# intellij-idea
.idea/
*.iml

# eclipse
.facts/
.metadata/
.settings/
.checkstyle
.classpath
.project
*.tlog

# etc
.mvn/settings.xml
.mvn/extensions.xml

redmine-config.json
user-config.json
